{% extends 'base.html.twig' %}

{% block title %}Symfony+PWA=💕{% endblock %}

{% block body %}

    <h3>About this demo</h3>

    <p>
        This demo is a work in progress to get pwa-bundle.
    </p>
{% endblock %}
