{% extends 'base.html.twig' %}

{% block title %}Barcode detection{% endblock %}

{% block body %}
    <turbo-frame id="content">
        <section class="bg-white dark:bg-gray-900" data-controller="barcode pwa--barcode-detection">
            <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                    Barcode detection
                </h2>
                <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                    The Barcode Detection API is a modern browser API that allows web applications to detect barcodes, including QR codes, directly from images or video streams.
                </p>
                <button
                    data-barcode-target="startButton"
                    data-action="click->barcode#start"
                    class="btn btn-primary"
                >Start detection
                </button>
                <button
                    data-barcode-target="stopButton"
                    data-action="click->barcode#stop"
                    class="btn btn-error"
                >Stop
                </button>
                <div data-barcode-target="alert" hidden>
                    <div class="alert alert-error shadow-lg mb-4">
                        <span>Your browser does not support the Barcode Detection API.</span>
                    </div>
                </div>
                <video data-barcode-target="video" class="w-full" autoplay hidden></video>
                <canvas data-barcode-target="canvas" hidden></canvas>
                <img alt="Detection image" hidden data-barcode-target="snapshot" />
            </div>
        </section>
    </turbo-frame>
{% endblock %}
