{% extends 'base.html.twig' %}

{% block title %}Installation{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Installation
            </h2>
            <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                Progressive Web Apps can be installed to the home screen on mobile devices and desktop on laptops and desktop computers.<br>
                The bundle provides a Symfony UX Controller to ease the use of this feature.
            </p>
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Demo
            </h2>
{% set button = '<button
    hidden
    data-controller="pwa--install"
    data-pwa--install-target="install"
    data-action="click->pwa--install#install"
>
    Install this app
</button>' %}
            <pre><code class="language-twig">{{ button|escape('html')|raw }}</code></pre>
            <p class="mt-3 mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                On compatible browsers, a button will be displayed and trigger the installation of the web app.
                If the application is already installed, or the browser does not support the feature, the button will be hidden.
                Otherwise, a bottom sheet will be displayed with instructions on how to install the web app.
            </p>
        </div>
        <button
            hidden
            data-controller="pwa--install"
            data-pwa--install-target="install"
            data-action="click->pwa--install#install"
            class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
        >
            Install this app
        </button>
    </section>

{% endblock %}
