{% extends 'base.html.twig' %}

{% block title %}Multitouch{% endblock %}

{% block body %}
<turbo-frame id="content">
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Multitouch
            </h2>
            <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                On a device with touch screen, place two fingers in the square below to see a red circle appear. <br>
                Move your fingers to change the size and position of the circle.
            </p>
            <canvas
                id="canvas"
                class="w-full h-full bg-[#1da1f2]"
                data-controller="pwa--touch multitouch"
                {{ stimulus_action('multitouch', 'update', 'pwa--touch:pwa:touch:updated') }}
            >
            </canvas>
        </div>
    </section>
</turbo-frame>
{% endblock %}
