{% extends 'base.html.twig' %}

{% block title %}Network info{% endblock %}

{% block body %}
<turbo-frame id="content">
    <section class="bg-white dark:bg-gray-900" data-controller="network-information">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Network info
            </h2>
            <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                Your network information is:
            </p>
            <dl>
                <dt>Downlink</dt>
                <dd data-network-information-target="downlink downlinkContent">...</dd>
                <dt>Downlink max</dt>
                <dd data-network-information-target="downlinkMax downlinkMaxContent">...</dd>
                <dt>Effective connection type</dt>
                <dd data-network-information-target="effectiveType effectiveTypeContent">...</dd>
                <dt>RTT</dt>
                <dd data-network-information-target="rtt rttContent">...</dd>
                <dt>Save data</dt>
                <dd data-network-information-target="saveData saveDataContent">...</dd>
                <dt>Type</dt>
                <dd data-network-information-target="type typeContent">...</dd>
            </dl>

        </div>
    </section>
</turbo-frame>
{% endblock %}
