{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
<turbo-frame id="content">
    <section
        class="bg-white dark:bg-gray-900"
         data-controller="notification pwa--web-push"
         data-pwa--web-push-application-server-key-value="BB4W1qfBi7MF_Lnrc6i2oL-glAuKF4kevy9T0k2vyKV4qvuBrN3T6o9-7-NR3mKHwzDXzD3fe7XvIqIU1iADpGQ"
    >
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Notifications
            </h2>
            <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                The Web Push API allows you to send notifications to users even when the web application is not open,
                by leveraging the browser’s service worker to display messages. <br>
                These notifications are highly customizable: they can range from basic text messages to rich, interactive content with icons,
                images, action buttons, and event handling allowing users to engage directly from the notification.
            </p>
            <div class="card bg-base-100 shadow-md p-6 space-y-4 w-full max-w-md mx-auto">
                <h2 class="text-xl font-semibold">Web Push Notifications</h2>

                <div class="flex flex-col gap-2">
                    <button hidden data-notification-target="subscribeButton" class="btn btn-success" data-action="click->pwa--web-push#subscribe">
                        Subscribe
                    </button>
                    <button hidden data-notification-target="unsubscribeButton" class="btn btn-warning" data-action="click->pwa--web-push#unsubscribe">
                        Unsubscribe
                    </button>
                    <button hidden data-notification-target="sendButton" class="btn btn-info" data-action="click->notification#send">
                        Send Test Message
                    </button>
                </div>

                <div data-notifications-target="status" class="text-sm text-gray-500 pt-2">
                    Status: <span class="font-mono">Not initialized</span>
                </div>
            </div>
        </div>
    </section>
</turbo-frame>
{% endblock %}
