<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>Demo Receiver</title>
    {% block importmap %}{{ importmap('receiver') }}{% endblock %}
</head>
<body
    data-controller="reveal"
    data-action="pwa--receiver:message->reveal#message"
>
<div
    class="reveal"
    data-controller="pwa--receiver"
>
    <div
        class="slides"
    >
        <section>
            <h1>Horizontal Slide</h1>
        </section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
            <section data-markdown>
              <textarea data-template>
                ## Slide 1
                A paragraph with some text.
                ---
                ## Slide 2
                ---
                ## Slide 3
              </textarea>
            </section>
        </section>
        <section>
            Some highlighted code here
            <pre><code class="language-yaml" data-controller="code">foo:
    bar: baz</code></pre>
        </section>
    </div>
</div>
</body>
</html>
