{% extends 'base.html.twig' %}

{% block title %}NFC{% endblock %}

{% block body %}
<turbo-frame id="content">
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Shortcuts
            </h2>
            <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                A PWA can provide shortcuts to pages (URLs) inside the app.
                These shortcuts are accessible by long-pressing the app icon or by right-clicking the app icon depending on the platform.
            </p>

            {% set yaml = 'pwa:
    manifest:
        enabled: true
        shortcuts:
            - name: "Feature 1" #Translatable key
              short_name: "Feature 1" #Translatable key
              description: "This is the feature #1" #Translatable key
              url: "/feature-1" # Can be a Symfony path name (with parameters)
' %}
            <pre><code class="language-yaml" data-controller="code">{{ yaml|raw }}</code></pre>
        </div>
    </section>
</turbo-frame>
{% endblock %}
