@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
    display: none !important;
}

.capture {
    isolation: isolate;
    transform-style: flat;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(60px);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(130px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

/* Global but more fancy */
::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.turbo-progress-bar {
    height: 5px;
    background-color: green;
}
