@plugin "../vendor/daisyui/daisyui.index.js" {
    exclude: rootscrollgutter;
}

@plugin "../vendor/daisyui/theme.js" {
    name: "material";
    color-scheme: light;
    default: true;
    prefersdark: false;

    /* == Layout Colors == */
    --root-bg: #fdfeff;
    --layout-sidebar-background: #f5f7ff;
    --layout-topbar-background: #f5f7ff;

    /* == Base Colors == */
    --color-base-100: #f6f8ff;
    --color-base-200: #eaecfa;
    --color-base-300: #e0e2f8;
    --color-base-content: #191e28;

    /* == Colors == */
    --color-primary: #167bff;
    --color-primary-content: #ffffff;
    --color-secondary: #9c5de8;
    --color-secondary-content: #ffffff;
    --color-accent: #00d3bb;
    --color-accent-content: #f3fbf6;
    --color-neutral: #1e2832;
    --color-neutral-content: #fafcff;
    --color-info: #14b4ff;
    --color-info-content: #ffffff;
    --color-success: #0bbf58;
    --color-success-content: #ffffff;
    --color-warning: #f5a524;
    --color-warning-content: #150a00;
    --color-error: #f31260;
    --color-error-content: #ffffff;

    /* == Icon Background == */
    --icon-background: #e0e2f8;

    /* == Sizes == */
    --radius-field: 8px;
    --radius-box: 8px;
    --rounded-box: 8px;
    --radius-selector: 8px;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --card-p: 8px;

    --depth: 0;
    --noise: 0;
}

@plugin "../vendor/daisyui/theme.js" {
    name: "material-dark";
    color-scheme: dark;
    default: false; /* set as default */
    prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */

    /* == Layout Colors == */
    --root-bg: #141618;
    --layout-sidebar-background: #181c20;
    --layout-topbar-background: #181c22;

    /* == Base Colors == */
    --color-base-100: #181e24;
    --color-base-200: #202830;
    --color-base-300: #2c323a;
    --color-base-content: #f0f4f8;

    /* == Colors == */
    --color-primary: #167bff;
    --color-primary-content: #ffffff;
    --color-secondary: #9c5de8;
    --color-secondary-content: #ffffff;
    --color-accent: #00d3bb;
    --color-accent-content: #f3fbf6;
    --color-neutral: #dce1e6;
    --color-neutral-content: #1e2832;
    --color-info: #14b4ff;
    --color-info-content: #ffffff;
    --color-success: #0bbf58;
    --color-success-content: #ffffff;
    --color-warning: #f5a524;
    --color-warning-content: #150a00;
    --color-error: #f31260;
    --color-error-content: #ffffff;

    /* == Icon Background == */
    --icon-background: #202830;

    /* == Sizes == */
    --radius-field: 8px;
    --radius-box: 8px;
    --rounded-box: 8px;
    --radius-selector: 8px;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --card-p: 8px;

    --depth: 0;
    --noise: 0;
}
