<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="This is a simple demonstration">
        <meta name="robots" content="all" />
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}Welcome!{% endblock %} | What PWA Bundle Can Do Today</title>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        {{ pwa(locale=app.request.locale) }}
    </head>
    <body>
    {% block content %}
        <twig:Navbar />
        {% block body %}{% endblock %}
        <twig:Footer />
    {% endblock %}
    </body>
</html>
